{{define "view_header"}}

{{end}}

{{define "view_nav"}}
{{end}}

{{define "view_footer"}}

<script type="text/javascript" src="http://{{.ServerAddress}}:{{.ServerPort}}/assets/js/util.js"></script>
{{end}}