{
	"database_settings": {
		"username":"",
		"password":"",
		"host":"",
		"port":5432,
		"database":"",
		"sslmode":"disable"
	},
	"logger_settings": {
		"dump_request":false,
		"log_file":"makeict.log"
	},
	"app_settings": {
		"port":8080,
		"host":"localhost",
		"session_key":"32byterandomstringhere"
	}
}