{
	"database_settings": {
		"username":"",
		"password":"",
		"host":"",
		"port":"",
		"database":"",
		"sslmode":""
	},
	"logger_settings": {
		"dump_request":""
	},
	"app_settings": {
		"port":
	}
}