{{define "meta-head"}}
	<title>MakeICT Administration | Page Title</title>
{{ end }}

{{ define "content" }}
			<div class="col s12 m2 l1">
				<p class="flow-text">main content</p>
				<p>{{.}}</p>
			</div>
{{end}}